pipeline/Demo.json
{
	"name": "Demo",
	"properties": {
		"activities": [
			{
				"name": "A",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PriceEach",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PriceEach",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "until",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText5",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "B",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "input",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outputB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "checkAB",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "A",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "B",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('A').Status,'Succeeded'), equals(activity('B').Status,'Succeeded'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-09-22T05:52:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}