pipeline/IncrementalLoad_Sales.json
{
	"name": "IncrementalLoad_Sales",
	"properties": {
		"activities": [
			{
				"name": "Lookup_LastWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT LastWatermark\nFROM WatermarkControl\nWHERE TableName = 'Sales_RAW';\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set_LastWatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_LastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLastWatermark",
					"value": {
						"value": "@activity('Lookup_LastWatermark').output.firstRow.LastWatermark\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_IncrementalSales",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_LastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM Sales_RAW\nWHERE OrderDate > '@{variables('varLastWatermark')}'\n\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "Date",
									"physicalType": "date"
								},
								"sink": {
									"name": "OrderDate",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ProductID",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ProductCategory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductCategory",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "Quantity",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "SalesAmount",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "SalesAmount",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Phone",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_IncrementalSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateSalesWatermark]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"varLastWatermark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T14:04:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}